<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="stylesheet.css"/>
	<script src="../lib/handlebars-v3.0.3.js"></script>
	<script src="../lib/jquery/src/jquery.js"></script>
	<script src="../lib/ember.debug.js"></script>
	<script src="../lib/ember-data.js"></script>
	<title>Testing JS APIs and Frameworks</title>
</head>
<body>
	<script type="text/x-handlebars" data-template-name="application">
		<nav>
			{{#link-to 'index'}}Home{{/link-to}}
			{{#link-to 'about'}}About{{/link-to}}
			{{#link-to 'login'}}{{/link-to}}
		</nav>

		<div class = "container">
			{{outlet}}
		</div>
	</script>
	<script type="text/x-handlebars" data-template-name="index"></script>
	<script type="text/x-handlebars" data-template-name="about"></script>
	<script type="text/x-handlebars" data-template-name="login"></script>
</body>
</html>