html, body, header, p{
	margin:0;
	border: 0;
	padding: 0;
	font-family: Helvetica, Verdana, Arial, "Times New Roman", sans-serif;
}
body{
	background-color:rgb(171,187,255);

}
header, footer{
	background-color: rgb(90,104,255);
}

ul{
	text-decoration: none;
	list-style: none;
}
ul li{
	display: inline;
	padding: 5px;
}
nav{
	background-color: rgb(127,156,145);
	float: right;
}
footer{
	position: relative;
	bottom: 0;
}